@media (min-width: 768px) {
  .customHeading {
    font-size: 60px;
  }
}

@media (min-width: 768px) {
  .CustomPara {
    font-size: 20px;
  }
}

@media (min-width: 576px) {
  .customHeading {
    font-size: 45px;
  }
}

@media (min-width: 370px) {
  .CustomPara {
    font-size: 20px;
  }
}

@media (min-width: 576px) {
  .CustomPara {
    font-size: 20px;
  }
}

.le {
  float: right;
}

.tech {
  --bs-gutter-y: 1.5rem;
}

.work {
  --bs-gutter-y: 1.5rem;
}

.parallax-bg {
  background-image: url("assets/img/actual1.png");
}

@media (max-width: 412px) {
  .parallax-bg {
    background-image: url("assets/img/mobile.png");
  }
}

